/** total **/

.total {
  color: rgb(131, 63, 17);
}

/* count */
.count {
  background: #896eaf;
}

/* clap */
.clap {
  border: 1px solid #896eaf;
}
.clap:hover {
  border: 1px solid #896eaf;
}

.cupContainer {
  width: 100px;
  min-height: 100px;
  text-align: center;
}

/* icon */
.cupBody {
  display: flex;
}
.cupStream > svg {
  height: 40px;
}
.cupBody > svg {
  min-height: 50px;
}
/* 1. cup handle  2. cup bowl*/
.cupBody > svg:nth-child(1) {
  width: 20%;
}
.cupBody > svg:nth-child(2) {
  width: 80%;
  position: relative;
  right: 10px;
}

.resetBtn {
  border-bottom: 1px solid #bdc3c7;
  background-color: aqua;
  color: sandybrown;
  margin-top: 30px;
  padding: 10px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  border-style: hidden;
  border-radius: 20px;
  outline: none;
  width: 120px;
}

.resetMsg {
  color: black;
}
